<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lectorQR</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal">

      </ion-back-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scan()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="scanResult">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Resultado Escaneado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ scanResult }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
