<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>swiper</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal">

      </ion-back-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="assets/img/Image20250313135525.png">

    </div>
    <div class="swiper-slide">
      <img src="assets/img/Image20250313135535.jpg">

    </div>
    <div class="swiper-slide">
      <img src="assets/img/Image20250313135541.png">

    </div>
    <div class="swiper-slide">
      <img src="assets/img/Image20250313135538.png">

    </div>
 


  </div>
     <!-- paginacion  -->
      <div class="swiper-pagination">

      </div>
</div>
</ion-content>


<!-- investigar y hacer un proyecto que permita escanear QR -->
